{% extends 'main_app/base.html' %}
{% load static %}

{% block content %}
    <div class="auth_form">
        <form action="{% url 'auth:login' %}" method="post">
            <div class="auth_container">
                {% csrf_token %}
                {{ form.as_p }}
                <hr>
                <p>Еще нет учетной записи?
                    <a href="{% url 'auth:register' %}">Зарегистрироваться</a>
                </p>
                <div>
                    <button class="auth_btn" type="submit">Войти</button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}
